.mainContainer {
  flex: 7;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.apLabel {
  align-self: center;
  color: #ffffff55;
  margin-top: -25px;
}

.topContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: rgb(0, 0, 87);
}

.sideBar {
  flex: 3;
  display: flex;
  flex-direction: column;
  background-color: rgb(42, 94, 173);
  height: auto;
}

.pageText {
  margin-top: 5px;
  align-items: center;
  font-size: 12px;
  color: aliceblue;
}

.navigateContainer {
  display: flex;
  align-self: center;
  margin: 20px;
  width: 100px;
  justify-content: space-between;
}

.arrowRight {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  cursor: pointer;
  transform-origin: center center;
}

.arrowLeft {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  cursor: pointer;
  transform-origin: center center;
}

