
.listItem {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    width: 70%;
    max-width: 300px;
    min-height: 30px;
    padding:5px 25px;
    outline:1px solid rgba(255,255,255,.3);
    outline-offset:5px;
    transition: all 0.5s ease-out;
    color: white;
}

.listItem:hover{
  outline:1px solid rgba(255,255,255,1);
  outline-offset:2px;
}

.listItem:active {
  background: rgb(255, 255, 255);
}

.listContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  height: 80vh;
  padding-top: 20px;
}

.highlightClass {
  background-color: #2b3d85;
  color: white;
}

