
.searchLineContainer {
  display: flex;
  /* width: fit-content; */
  align-self: center;
  margin: 20px;
}

.searchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  margin: 5px;
  background: #11AAFF;
  color: #FFF;
  border-radius: 5px;
  cursor: pointer;
}

.searchButton:hover{
  background: #0b699c;
}

.searchButton:active {
  background: rgb(255, 255, 255);
}
