.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.searchLineContainer {
  display: flex;
  /* width: fit-content; */
  align-self: center;
  margin: 20px;
}

.listItem {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border: solid 1px black;
  padding: 10px;
  margin: 5px;
  width: 70%;
}

.listContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

.searchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  margin: 5px;
  background: #11AAFF;
  color: #FFF;
  border-radius: 5px;
  cursor: pointer;
}
